PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/bankledger?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here

# Gmail OAuth2 / Nodemailer Credentials
GMAIL_USER=your_email@gmail.com
GMAIL_CLIENT_ID=your_client_id
GMAIL_CLIENT_SECRET=your_client_secret
GMAIL_REFRESH_TOKEN=your_refresh_token
